---
import Main from "@/layouts/Main.astro";
---

<Main title="About AllUni | ACPC">
  <div class="py-8 lg:py-16">
    <h1 class="text-4xl lg:text-6xl font-bold font-heading mb-16">AllUni</h1>
    <section class="mb-8">
      <p class="text-lg lg:text-xl mb-4">
        AllUni is an annual inter-university programming contest bringing
        together the brightest minds across Australia and New Zealand. With 20
        student societies participating across 7 cities, we create an
        unparalleled competitive programming experience.
      </p>
      <p class="text-lg lg:text-xl">
        Featuring 5-hour Division A and Division B contests, this event caters
        to teams from beginners to experts. With 600+ total contestants
        competing in 2025, AllUni has quickly become the region's top
        student-run programming competition.
      </p>
    </section>
  </div>
</Main>
