---
import Main from "@/layouts/Main.astro";
---

<Main title="About AUCPL | ACPC">
  <div class="py-8 lg:py-16">
    <h1 class="text-4xl lg:text-6xl font-bold font-heading mb-16">AUCPL</h1>
    <section class="mb-8">
      <p class="text-lg lg:text-xl">
        The Adelaide University Competitive Programming League (AUCPL) is a new
        initiative started by us in 2025, with the vision for a long-running
        competition circuit to provide opportunities to grow and network to our
        members.
      </p>
    </section>
    <section class="mb-8">
      <h2 class="text-2xl lg:text-4xl">Division A</h2>
      <div class="py-4">
        <p class="pb-4 text-lg lg:text-xl">
          Division A is aimed at more experienced competitive programmers who
          have a solid understanding of algorithms and data structures. The
          problems in this division are designed to be challenging and will test
          your problem-solving skills to the fullest. Participants in Division A
          will have the opportunity to compete at a higher level and prepare for
          ICPC.
        </p>
        <p class="pb-4 text-lg lg:text-xl">
          The 2026 AUCPL season has 6 rounds held throughout the year. Each
          round consists of 13 problems to be solved over 5 hours. The top
          competitors at the end of the season will receive prizes and
          recognition for their achievements.
        </p>
      </div>
    </section>
    <section class="mb-8">
      <h2 class="text-2xl lg:text-4xl">Division B</h2>
      <div class="py-4">
        <p class="pb-4 text-lg lg:text-xl">
          Division B is aimed at beginners and those new to competitive
          programming. The contests in this division focus on fundamental data
          structures and algorithms, providing a solid foundation for those
          looking to improve their skills and eventually move up to Division A.
        </p>
        <p class="pb-4 text-lg lg:text-xl">
          Division B has 6 rounds and is held on the same day as the Division A
          contests. Division B runs for 2 hours and has 6 questions. Before each
          round, there is a pre-competition workshop where you can get
          additional practice on the topics covered in that round.
        </p>
      </div>
    </section>
    <section class="mb-8">
      <h2 class="text-2xl lg:text-4xl">Workshops</h2>
      <div class="py-4">
        <p class="pb-4 text-lg lg:text-xl">
          We run workshops for both Division A and B competitors. We have
          regular workshops that cover the fundamentals of competitive
          programming that is suitable for Division B competitors or Division A
          competitors looking to refresh their skills. For Division A
          competitors, we run advanced workshops that cover more advanced and
          niche topics.
        </p>
      </div>
    </section>
    <section class="mb-8">
      <h2 class="text-2xl lg:text-4xl">How do I participate?</h2>
      <div class="py-4">
        <p class="pb-4 text-lg lg:text-xl">
          We will be releasing sign-ups for AUCPL 2026 soon! Keep an eye on our
          socials to stay updated. In the meantime, you can check out <a
            class="text-primary-light"
            href="https://aucpl.com">the AUCPL website</a
          > for to try out past problems.
        </p>
      </div>
    </section>
  </div>
</Main>
