---
import { DISCORD_LINK, INSTAGRAM_LINK } from "@/data/links";
import Main from "@/layouts/Main.astro";

type Position = {
  title: string;
  people: string; // Comma-separated
};

const EXECUTIVES: Position[] = [
  { title: "President", people: "Maged Gayed" },
  { title: "Vice President", people: "Jonathan Sawers" },
  { title: "Secretary", people: "Brooke Bui" },
  { title: "Treasurer", people: "Shaun Phillips" },
  { title: "Competitions Director", people: "Patrick Thompson" },
];
---

<Main title="About | ACPC">
  <div class="pt-8 lg:pt-16">
    <h1 class="text-4xl lg:text-6xl font-bold font-heading mb-16">About</h1>
    <section class="mb-8">
      <h2 class="text-2xl lg:text-4xl">Who are we?</h2>
      <div class="py-4">
        <p class="pb-4 text-lg lg:text-xl">
          We are the Adelaide Competitive Programming Club (ACPC), a
          not-for-profit, student-run club. We love competitive programming and
          the unique problem-solving challenges it presents, and we aim to bring
          it to the widest possible audience by running regular competitions,
          workshops, and social events.
        </p>
      </div>
    </section>

    <section class="mb-8">
      <h2 class="text-2xl lg:text-4xl">What do we do?</h2>
      <div class="py-4">
        <p class="pb-4 text-lg lg:text-xl">
          We run regular workshops and contests, which forms the core of our
          club activities. We also have social gatherings such as BBQs to
          provide an opportunity for members to socialise and network.
        </p>

        <p class="pb-4 text-lg lg:text-xl">
          You can check out our <a
            class="text-primary-light"
            href={INSTAGRAM_LINK}>Instagram page</a
          > and our <a class="text-primary-light" href={DISCORD_LINK}
            >Discord server</a
          > to keep up to date with the latest events!
        </p>
      </div>
    </section>

    <section class="mb-8">
      <h2 class="text-2xl lg:text-4xl">Our values</h2>
      <div class="py-4">
        <p class="pb-4 text-lg lg:text-xl">Our values are to:</p>
        <ul class="pb-4 text-lg lg:text-xl list-disc list-inside">
          <li>Foster a passion for competitive programming</li>
          <li>Promote teamwork and problem-solving</li>
          <li>Encourage learning at all skill levels</li>
          <li>Create a friendly and inclusive community</li>
        </ul>
        <p class="pb-4 text-lg lg:text-xl">
          We dedicate our events and work in the pursuit of these goals. It also
          happens that the skills we practice in our workshops and contests are
          desired by many tech companies, and we endeavour to help our members
          be career-ready through our events by connecting them with the
          industry and their potential future employers.
        </p>
      </div>
    </section>

    <section class="mb-8">
      <h2 class="text-2xl lg:text-4xl">
        Why should I care about competitive programming?
      </h2>
      <div class="py-4">
        <p class="pb-4 text-lg lg:text-xl">
          People like competitive programming for various reasons. Some like the
          challenge it presents, while others do it to level up their skills to
          be more employable. Others just do it for the fun of it!
        </p>
      </div>
    </section>

    <section>
      <h2 class="text-2xl lg:text-4xl">Executives for 2026</h2>
      <div class="py-4">
        <ul class="list-disc list-inside text-lg lg:text-xl">
          {
            EXECUTIVES.map((position) =>
              //prettier-ignore
              <li><b>{position.title}:</b> {position.people}</li>,
            )
          }
        </ul>
      </div>
    </section>
  </div>
</Main>
