@import "tailwindcss";

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}

@font-face {
  font-family: "Atkinson Hyperlegible Next";
  src: url("/fonts/AtkinsonHyperlegibleNext-VariableFont_wght.woff2");
}

@font-face {
  font-family: "Atkinson Hyperlegible Next";
  src: url("/fonts/AtkinsonHyperlegibleNext-Italic-VariableFont_wght.woff2");
  font-style: italic;
}

@theme {
  --color-primary: #97d1b5;
  --color-secondary: #55828b;
  --color-accent: #3b6064;
  --color-neutral: #aab9cf;
  --color-base: #364958;

  --font-sans: "Atkinson Hyperlegible Next", "ui-sans-serif", "sans-serif";
}
