@import "tailwindcss";

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}

@font-face {
  font-family: "Atkinson Hyperlegible Next";
  src: url("/fonts/AtkinsonHyperlegibleNext-VariableFont_wght.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Atkinson Hyperlegible Next";
  src: url("/fonts/AtkinsonHyperlegibleNext-Italic-VariableFont_wght.woff2");
  font-display: swap;
  font-style: italic;
}

@theme {
  --color-primary: #cc1a00;
  --color-secondary: #48b7fd;
  --color-accent: #27272b;
  --color-neutral: #aab9cf;
  --color-base: #151517;

  --font-sans: "Atkinson Hyperlegible Next", "ui-sans-serif", "sans-serif";
}
