---
import Main from "../layouts/Main.astro";
---

<Main title="Events | ACPC">
  <div class="py-8 lg:py-16">
    <h1 class="text-4xl lg:text-6xl font-bold">Events</h1>
    <section class="py-8">
      <p class="text-lg lg:text-xl">Coming soon...</p>
    </section>
  </div>
</Main>
