---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <Header />
    <main>
        <p class="text-blue-600">Hello world</p>
    </main>
</Layout>
