---
import { siDiscord, siInstagram, siFacebook, siGithub } from "simple-icons";
import type SimpleIcon from "simple-icons";

import Linkedin from "@/assets/linkedin.svg";

import {
  DISCORD_LINK,
  FACEBOOK_LINK,
  GITHUB_LINK,
  INSTAGRAM_LINK,
  LINKEDIN_LINK,
} from "@/data/links.ts";

type FooterLinks = {
  text: string;
  href: string;
  icon: SimpleIcon.SimpleIcon | ImageMetadata;
};

const FOOTER_LINKS: FooterLinks[] = [
  { text: "Discord", href: DISCORD_LINK, icon: siDiscord },
  {
    text: "Instagram",
    href: INSTAGRAM_LINK,
    icon: siInstagram,
  },
  {
    text: "Facebook",
    href: FACEBOOK_LINK,
    icon: siFacebook,
  },
  { text: "GitHub", href: GITHUB_LINK, icon: siGithub },
  {
    text: "LinkedIn",
    href: LINKEDIN_LINK,
    icon: Linkedin,
  },
];
---

<footer class="mt-16 border-t">
  <div class="flex flex-col mx-auto max-w-7xl py-6 px-8 xl:px-0">
    <div class="grid grid-cols-1 lg:grid-cols-2">
      <div>
        <img src="/acpc-logo-short.svg" alt="ACPC Logo" class="h-12 mb-4" />
      </div>
      <div class="justify-self-auto lg:justify-self-end content-center">
        <ul class="flex flex-wrap gap-4 md:gap-6">
          {
            FOOTER_LINKS.map((link) => (
              <li>
                <a href={link.href}>
                  {"svg" in link.icon ? (
                    <span
                      class="inline-block w-8 h-8 [&>svg]:fill-white"
                      set:html={link.icon.svg}
                    />
                  ) : (
                    <img
                      src={link.icon.src}
                      alt={link.text}
                      class="w-8 h-8 brightness-0 invert"
                    />
                  )}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <div class="flex flex-col lg:flex-row lg:gap-4"></div>
    <div class="py-4">
      <p>&copy; 2026 Adelaide Competitive Programming Club.</p>
    </div>
  </div>
</footer>
