---
type FooterLinks = {
  text: string;
  href: string;
};

const FOOTER_LINKS: FooterLinks[] = [
  { text: "Discord", href: "https://discord.gg/9yBJs68Sj4" },
  { text: "Instagram", href: "https://www.instagram.com/adelaidecpc" },
  { text: "Facebook", href: "https://www.facebook.com/groups/uoacpc" },
  { text: "GitHub", href: "https://github.com/AdelaideCPC/" },
  {
    text: "LinkedIn",
    href: "https://www.linkedin.com/company/competitive-programming-club-of-the-university-of-adelaide",
  },
];
---

<footer class="mt-16 border-t">
  <div class="flex flex-col mx-auto max-w-7xl py-6 px-8 xl:px-0">
    <div class="flex flex-col lg:flex-row lg:gap-4">
      <p class="font-bold">Our links:</p>
      <ul class="flex flex-wrap gap-2 md:gap-4">
        {
          FOOTER_LINKS.map((link) => (
            <li class="underline">
              <a href={link.href}>{link.text}</a>
            </li>
          ))
        }
      </ul>
    </div>
    <div class="py-4">
      <p>&copy; 2026 Adelaide Competitive Programming Club.</p>
    </div>
  </div>
</footer>
