---
import { JOIN_LINK } from "@/data/links";

interface Props {
  noBorder?: boolean;
}

const { noBorder = false } = Astro.props;

type Links = {
  text: string;
  href: string;
};

const LINKS: Links[] = [
  { text: "AUCPL", href: "https://aucpl.com" },
  { text: "About", href: "/about" },
  { text: "Events", href: "/events" },
  { text: "Resources", href: "/resources" },
  { text: "Sponsors", href: "/sponsors" },
  { text: "Join", href: JOIN_LINK },
];
---

<header id="header" class="text-xl">
  <div class=`hidden xl:block ${noBorder ? "" : "border-b"} z-50`>
    <div class="mx-auto max-w-7xl flex grow py-4">
      <a href="/">
        <img
          src="/acpc-logo-short.svg"
          alt="ACPC Logo"
          class="h-12 mr-4 inline-block"
        />
      </a>
      <nav class="flex grow pl-6 place-content-end items-center">
        <ul class="flex gap-6">
          {
            LINKS.map((link) => (
              <li>
                <a href={link.href}>{link.text}</a>
              </li>
            ))
          }
        </ul>
      </nav>
    </div>
  </div>

  {/* Mobile */}
  <div id="mobile-header" class="z-50 w-full px-8">
    {/* Mobile header */}
    <div class="flex xl:hidden py-4 w-full">
      <div class="flex flex-1 place-content-between">
        <a href="/">
          <img
            src="/acpc-logo-short.svg"
            alt="ACPC Logo"
            class="h-10 mr-4 inline-block"
          />
        </a>
        <button>
          <div
            id="hamburger-menu"
            class="grid place-content-center h-fit self-center"
            aria-label="Toggle navigation"
          >
            <div class="header-bar bg-white w-[30px] h-0.5 my-1"></div>
            <div class="header-bar bg-white w-[30px] h-0.5 my-1"></div>
            <div class="header-bar bg-white w-[30px] h-0.5 my-1"></div>
          </div>
        </button>
      </div>
    </div>
    {/* Mobile menu */}
    <div
      id="nav-menu"
      style="display:none;"
      class="flex flex-col h-screen overflow-y-scroll"
    >
      <nav class="pt-8">
        <ul class="flex flex-col gap-6 mb-auto">
          {
            LINKS.map((link) => (
              <li>
                <a href={link.href}>{link.text}</a>
              </li>
            ))
          }
        </ul>
      </nav>
    </div>
  </div>
</header>

<style>
  .open .header-bar:nth-of-type(1) {
    transform: rotate(-45deg) translate(-2px, -3px);
    transform-origin: bottom right;
  }

  .open .header-bar:nth-of-type(2) {
    opacity: 0;
    transform: scale(0);
  }

  .open .header-bar:nth-of-type(3) {
    transform: rotate(45deg) translate(-2px, 3px);
    transform-origin: top right;
  }
</style>

<script is:inline>
  let menuOpen = false;
  const mobileHeader = document.getElementById("mobile-header");
  const menuIcon = document.getElementById("hamburger-menu");
  const menu = document.getElementById("nav-menu");
  const header = document.getElementById("header");
  const root = document.getElementById("root");

  menuIcon.addEventListener("click", () => {
    if (menuOpen) {
      mobileHeader.classList.remove("bg-base");
      header.classList.remove("open");
      menu.style.display = "none";
      root.style.overflowY = "visible";
      menuOpen = false;
    } else {
      mobileHeader.classList.add("bg-base");
      header.classList.add("open");
      menu.style.display = "block";
      root.style.overflowY = "hidden";
      menuOpen = true;
    }
  });
</script>
