---
// import CPCLogo = "../assets/cpc-text-logo.png";
---

<header class="navbar bg-base-100 flex">
    <a class="btn btn-ghost text-xl" href="/"
        ><img src="" alt="ACPC Logo" />Competitive Programming Club</a
    >
    <nav>
        <ul class="">
            <li><a href="/about">About</a></li>
            <li><a href="/sponsors">Sponsors</a></li>
            <li><a href="https://forms.gle/KNQsRjctczBmYrg86">Join</a></li>
        </ul>
    </nav>
</header>
