---
interface Props {
  name: string;
  description: string;
  image?: string;
  alt?: string;
  // link?: string;
}

const { name, description, image, alt } = Astro.props;
---

<div class="bg-accent rounded-md p-6 flex flex-col lg:flex-row">
  {
    image && (
      <img
        src={image}
        alt={alt}
        class="shrink-0 object-contain w-full lg:w-[30%] pb-8 lg:pb-0 lg:pr-8"
      />
    )
  }
  <div class="">
    <h2 class="text-2xl lg:text-4xl pb-4">{name}</h2>
    <p class="text-xl">{description}</p>
  </div>
</div>
