---
import "@/styles/global.css";

const { title, description } = Astro.props;

const DEFAULT_TITLE = "ACPC";
const DEFAULT_DESCRIPTION = "Adelaide Competitive Programming Club";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description ?? DEFAULT_DESCRIPTION} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      href="/fonts/AtkinsonHyperlegibleNext-VariableFont_wght.woff2"
      rel="preconnect"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      href="/fonts/AtkinsonHyperlegibleNext-Italic-VariableFont_wght.woff2"
      rel="preconnect"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <title>{title ?? DEFAULT_TITLE}</title>
  </head>
  <body class="bg-base">
    <div id="root" class="h-screen text-white flex flex-col relative">
      <slot />
    </div>
  </body>
</html>
